name: test-project
version: b1.0.0
type: tool
author: the_great_test_dev
contact: test@overload.studio

ask:
  - var: VERSION 
    type: s
    link: vers
    icon: "V, chalk.blue()"
    question: "What version to install?"
    op: "BETA 1.0.0; 1.0.0; BETA 3.0.0"
    default: 1.0.0
  - var: UNINSTALL
    type: di
    bind: "vers, 1"
    icon: "%, chalk.yellow()"
    question: "install or uninstall"
    op: "INSTALL; UNINSTALL"
    default: INSTALL
  - var: HUMAN
    type: yon
    link: answer
    icon: "☺, chalk.magenta()"
    question: "Are you a human?"
    default: Yes
  - var: CONTINENT
    bind: "answer, True"
    type: w
    icon: "C, chalk.red()"
    question: "What continent?"
    default: "Europe"
  - var: SPECIES
    bind: "answer, False"
    type: w
    icon: "ƒ, chalk.blue()"
    question: "What are you?"
    default: cat
  - var: INSTALL
    question: "Install for WHO?"
    type: di
    op: "Mom; Dad; Brother; Sister"
    default: Mom
  - var: NAME
    type: w
    question: "What's your name?"
    default: Kiko

run:
  - run: "echo Hello, ${NAME}! Welcome to Veb."
  - run: "echo You selected to install for ${INSTALL}"
  - run: "echo Human status: ${HUMAN}"
  - run: "echo Continent: ${CONTINENT}"
